<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body class="light-mode">
    <div class="container">
        <h1 class="special-heading">Diamond Prediction</h1>
        <a href="predict" class="start-button">Start</a>
    </div>
    <div class="mode-toggle">
        <label class="switch">
            <input type="checkbox" id="modeToggle">
            <span class="slider"></span>
        </label>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
